<div class="container-fluid">
    <div class="wrapper">
        <header class="div3">
            <a href="#"><img class="logo" src="https://i.imgur.com/knFeM3x.png" alt="logo suckair lines"></a>
        </header>
        <main class="div4">
            <div class="div5">
                <img class="svg" src="https://svgshare.com/i/MYn.svg" alt="travel illustration">
            </div>
            <div class="travel">
                <div class="travel__header">
                    <img class="travel-time" src="https://svgshare.com/i/MYm.svg" alt="time to travel">
                </div>
                <div class="travel__choices">
                    <div class="travel__choices__row1">
                        <div class="origin">
                            <label for="departureAirport">Origin</label>
                            <select name="" id="" [(ngModel)]="departureAirport" [ngStyle]="fancy">
                                          <option [value]="city.key" *ngFor="let city of opts">{{city.key}}</option>
                                        </select>
                        </div>
                        <div class="destination">
                            <label for="destinationAirport">Destination</label>
                            <select name="" id="" [(ngModel)]="destinationAirport" [ngStyle]="fancy">
                                          <ng-container *ngFor="let city of opts">
                                            <option [value]="city.key" *ngIf="city.key !== departureAirport">{{ city.key }}</option>
                                          </ng-container>
                                        </select>
                        </div>
                    </div>
                    <div class="travel__choices__row2">
                        <div class="origin">
                            <label for="departureTime">Departure date</label>
                            <input type="date" [min]="todayShort" id="departureTime" [(ngModel)]="departureDate" [ngStyle]="fancy">
                        </div>
                        <div class="destination">
                            <label for="arrivalTime">Return date</label>
                            <input type="date" id="arrivalTime" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate" [ngStyle]="fancy">
                        </div>
                    </div>
                    <div class="travel__choices__row3">
                        <div class="passengers">
                            <label for="passengers">Quantity of passengers</label>
                            <input type="number" id="passengers" [(ngModel)]="numberOfPassengers" [ngStyle]="fancy">
                        </div>
                    </div>
                    <div class="travel__choices__button">
                        <button routerLink="/login" [disabled]="numberOfPassengers <= 0 || numberOfPassengers > 9" (click)="saving()" [ngStyle]="fancyButton">next</button>
                    </div>

                </div>
            </div>
        </main>
        <footer class="div7">COLLEGIUM DA VINCI 2020 || FINAL PROJECT FRONTEND-DEVELOPER || PAULINA NOWACKA & PATRYCJA STUKOWSKA</footer>
    </div>
</div>
<router-outlet> </router-outlet>
