@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-color: #ffbe2e;
    padding: 5%;
}

.wrapper {
    border: 4px solid black;
    border-radius: 30px;
    padding: 32px;
    height: 100%;
}

header.div3 {
    height: 10%;
    .logo {
        height: 5vh;
    }
}

main.div4 {
    display: flex;
    height: 80%;
}

.div5 {
    width: 55%;
    padding: 5%;
    margin: auto 0;
    img.svg {
        max-height: 50vh;
    }
}

.travel {
    max-width: 40%;
    padding: 5%;
    margin: auto 0;
    &__header {
        border: 5px solid white;
        border-bottom: transparent;
        background-color: #ED7931;
        padding: 20px;
        border-radius: 30px 30px 0px 0px;
        box-shadow: 5px 5px 5px black;
    }
    &__choices {
        border: 5px solid white;
        border-radius: 0px 0px 30px 30px;
        background-color: #D92027;
        text-transform: uppercase;
        font-weight: bold;
        box-shadow: 5px 5px 5px black;
        &__row1,
        &__row2,
        &__row3 {
            display: flex;
            text-align: center;
            .origin,
            .destination {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin: 20px;
            }
            .passengers {
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 20px;
            }
        }
        &__button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}

footer.div7 {
    height: 10%;
    padding-top: 60px;
    color: white;
    font-size: 0.8EM;
}
