<div class="container-fluid">
    <div class="wrapper">
        <header class="div3">
            <a href="#"><img class="logo" src="https://i.ibb.co/nkmC8hX/logo.png" alt="logo"></a>
        </header>
        <main class="div4">
            <div class="div5">
                <img class="svg" src="https://i.ibb.co/gJzrd3p/pngwave-Odzyskane.png" alt="travel illustration">
            </div>
            <div class="travel">
                <div class="travel__header">
                    time to travel
                </div>
                <div class="travel__choices">
                    <div class="travel__choices__row1">
                        <div class="origin">
                            <label class="label" for="departureAirport">Origin</label>
                            <select class="input" name="" id="" [(ngModel)]="departureAirport">
                                          <option [value]="city.key" *ngFor="let city of opts">{{city.key}}</option>
                                        </select>
                        </div>
                        <div class="destination">
                            <label class="label" for="destinationAirport">Destination</label>
                            <select class="input" name="" id="" [(ngModel)]="destinationAirport">
                                          <ng-container *ngFor="let city of opts">
                                            <option [value]="city.key" *ngIf="city.key !== departureAirport">{{ city.key }}</option>
                                          </ng-container>
                                        </select>
                        </div>
                    </div>
                    <div class="travel__choices__row2">
                        <div class="origin">
                            <label class="label" for="departureTime">Flight date</label>
                            <input class="input" type="date" [min]="todayShort" id="departureTime" [(ngModel)]="departureDate">
                        </div>
                        <div class="destination">
                            <label class="label" for="arrivalTime">Return date</label>
                            <input class="input" type="date" id="arrivalTime" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate">
                        </div>
                    </div>
                    <div class="travel__choices__row3">
                        <div class="passengers">
                            <label class="label" for="passengers">Quantity of passengers</label>
                            <input class="input2" type="number" id="passengers" [(ngModel)]="numberOfPassengers">
                        </div>
                    </div>
                    <div class="travel__choices__button">
                        <button routerLink="/login" [disabled]="numberOfPassengers <= 0 || numberOfPassengers > 9" (click)="saving()" class="fancyButton">next</button>
                    </div>

                </div>
            </div>
        </main>

    </div>
    <footer class="div7">COLLEGIUM DA VINCI 2020 || FINAL PROJECT FRONTEND-DEVELOPER || PAULINA NOWACKA & PATRYCJA STUKOWSKA</footer>
</div>
<router-outlet> </router-outlet>