@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
$main-color: #ffbe2e;
$text-shadow-color: #FEEDCC;
$font-color: #000000;
$header-color: #ED7931;
$content-color: #D92027;
$white-border: #ffffff;
$shadow-color: #000000;
$input-color: #FEEDCC;
$button-color: #ffbe2e;
$wrapper-border: #000000;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    padding: 5%;
}

.wrapper {
    border: 4px solid $wrapper-border;
    border-radius: 30px;
    padding: 32px;
    height: 100%;
}

header.div3 {
    height: 10%;
    .logo {
        height: 5vh;
    }
}

main.div4 {
    display: flex;
    height: 80%;
    padding-top: 0;
}

.passengers {
    width: 50%;
    padding: 1%;
    padding-right: 0;
    height: 75%;
    &__header2 {
        // text-align: center;
        text-shadow: 3px 3px $text-shadow-color;
        text-transform: uppercase;
        font-weight: bold;
        height: auto;
        padding: 0.5rem 0;
        padding-left: 5%;
        font-size: 2.5rem;
        color: black;
        border: 5px solid transparent;
        border-bottom: transparent;
    }
    &__content {
        border: 5px solid transparent;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        padding: 4%;
        padding-top: 2%;
        height: 100%;
        overflow-y: auto;
        &__row {
            display: flex;
            width: 100%;
            margin: 0 auto;
            &__col1 {
                width: 80%;
                flex-direction: column;
                &__label {
                    padding: 1%;
                    font-size: 0.7rem;
                    padding-left: 5px;
                }
                &__value {
                    padding: 1%;
                    width: 100%;
                    background-color: $input-color;
                    border: 3px solid $white-border;
                    border-radius: 10px;
                }
            }
        }
    }
}

.details {
    width: 50%;
    padding: 1%;
    padding-left: 0;
    &__header {
        text-align: center;
        text-shadow: 3px 3px $text-shadow-color;
        text-transform: uppercase;
        font-weight: bold;
        height: auto;
        padding: 0.5rem 0;
        background-color: $header-color;
        font-size: 2.5rem;
        color: black;
        border-radius: 30px 30px 0px 0px;
        border: 5px solid $white-border;
        border-bottom: transparent;
        box-shadow: 5px 5px 5px $shadow-color;
    }
    &__content {
        border: 5px solid $white-border;
        border-radius: 0px 0px 30px 30px;
        background-color: $content-color;
        text-transform: uppercase;
        box-shadow: 5px 5px 5px $font-color;
        display: flex;
        flex-direction: column;
        padding: 4%;
        padding-top: 2%;
        &__row {
            display: flex;
            width: 100%;
            margin: 0 auto;
            &__col1,
            &__col2 {
                width: 50%;
                flex-direction: column;
                &__label {
                    padding: 1%;
                    font-size: 0.7rem;
                    padding-left: 5px;
                }
                &__value {
                    padding: 1%;
                    width: 100%;
                    background-color: $input-color;
                    border: 3px solid $white-border;
                    border-radius: 10px;
                }
            }
            &__col1 {
                padding-right: 2%;
            }
            &__col2 {
                padding-left: 2%;
            }
        }
    }
}

.fancyButton {
    margin-top: 8%;
    margin-right: 5%;
    width: 20%;
    padding: 1%;
    background-color: $main-color;
    border: 3px solid $white-border;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 5px 5px 5px $font-color;
}

footer.div7 {
    color: $white-border;
    font-size: 0.5EM;
    text-align: center;
    padding-top: 2%;
}

@media only screen and (max-width: 575px) {
    .container-fluid {
        padding-bottom: 8%;
    }
    .wrapper {
        padding: 16px;
    }
    main.div4 {
        flex-direction: column;
        overflow: auto;
        padding: 0 10px;
        height: 88%;
    }
    .passengers {
        width: 100%;
        &__header2 {
            font-size: 1.4rem;
        }
    }
    .details {
        width: 100%;
        &__header {
            font-size: 1.5rem;
        }
        &__content {
            &__row {
                flex-direction: column;
                &__col1,
                &__col2 {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
    footer.div7 {
        font-size: 0.4rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .wrapper {
        padding: 16px 0 16px 16px;
    }
    .passengers {
        width: 100%;
        padding-top: 0;
        &__header2 {
            font-size: 1.3rem;
        }
    }
    .details {
        width: 100%;
        padding-top: 0;
        height: 100%;
        &__header {
            font-size: 1.3rem;
        }
        &__content {
            &__row {
                flex-direction: column;
                &__col1,
                &__col2 {
                    width: 100%;
                    padding: 0;
                    &__value {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .fancyButton {
        margin-top: 4%;
    }
    footer.div7 {
        font-size: 0.4rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .wrapper {
        padding: 16px;
    }
    .details {
        width: 58%;
    }
    .passengers {
        width: 42%;
    }
}